#parse("constant.vm")
<html>
<body>
Email ini dikirim karena Anda melakukan proses recovery password.
Anda telah terdaftar dengan account di bawah ini: <br/>
<br/>
User ID : $!{person.account.userID}<br/>
Password : $!{person.account.password}<br/>
<br/>

Terima kasih.
</body>
</html>