<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/sidebar/staff.png")'/>
        &nbsp;
        <span>Kepegawaian</span>
    </title>
</head>
<body>
<div id="staff">
<div class="panel-top">
    <form action='#springUrl("/staff/personal/search.html")' method="post"
          style="text-align: right; display: inline;">
        <span>Pencarian Pegawai:</span>
        <input type="text" name="keyword" class='register'/>
        <input type='submit' name='submit' value='Cari'/>
    </form>
</div>
<div style="text-align: center;">

<h5>POTENSI PEGAWAI TAHUN 2013</h5>
<table class="data" style="margin: 8px auto 8px auto;">
    <col style="width: 120px;"/>
    <col style="width: 40px;"/>
    <col style="width: 40px;"/>
    <col style="width: 40px;"/>
    <col style="width: 40px;"/>
    <col style="width: 40px;"/>
    <tr>
        <th colspan="6">
            Tabel Potensi Pegawai Tahun 2013
        </th>
    </tr>
    <tr>
        <th>PENDIDIKAN</th>
        <th>PNS</th>
        <th>NPN</th>
        <th>PHL AP</th>
        <th>PHL Swa</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>S2</td>
        <td>48</td>
        <td>-</td>
        <td>3</td>
        <td>-</td>
        <td> 51</td>
    </tr>
    <tr>
        <td>S1</td>
        <td>98</td>
        <td>3</td>
        <td>84</td>
        <td>9</td>
        <td>194</td>
    </tr>
    <tr>
        <td>D3</td>
        <td>14</td>
        <td>-</td>
        <td>25</td>
        <td>5</td>
        <td>44</td>
    </tr>
    <tr>
        <td>SLTA</td>
        <td>118</td>
        <td>28</td>
        <td>112</td>
        <td>45</td>
        <td>303</td>
    </tr>
    <tr>
        <td>SLTP</td>
        <td>25</td>
        <td>2</td>
        <td>19</td>
        <td>41</td>
        <td>87</td>
    </tr>
    <tr>
        <td>SD</td>
        <td>15</td>
        <td>45</td>
        <td>4</td>
        <td>7</td>
        <td>71</td>
    </tr>
    <tr>
        <td>JUMLAH</td>
        <td>318</td>
        <td>78</td>
        <td>247</td>
        <td>107</td>
        <td>750</td>
    </tr>
</table>
<span>Sumber: Kepegawaian BBWS Serayu Opak</span>
<br/><br/>

<div>
    <img src="#springUrl("/images/staff/potensi_pegawai_2013.png")"/>
</div>

<br/>
<br/>
<h5>Perbandingan Pegawai Teknis dan Non Teknis</h5>

<table class="data" style="margin: 8px auto 8px auto;">
    <tr>
        <th colspan="9">PEGAWAI TEKNIS & NON TEKNIS</th>
    </tr>
    <tr>
        <th>No</th>
        <th>Strata</th>
        <th>Kualifikasi</th>
        <th>PNS</th>
        <th>NPN</th>
        <th>PHL AP</th>
        <th>PHL SWA</th>
        <th>TOTAL</th>
    </tr>
    <tr>
        <td rowspan="2">1</td>
        <td rowspan="2">S2</td>
        <td>Teknis</td>
        <td>38</td>
        <td> -</td>
        <td>2</td>
        <td></td>
        <td>40</td>
    </tr>
    <tr>
        <td>Non Teknis</td>
        <td>9</td>
        <td>-</td>
        <td>1</td>
        <td>-</td>
        <td>10</td>
    </tr>
    <tr>
        <td rowspan="2">2</td>
        <td rowspan="2">S1</td>
        <td>Teknis</td>
        <td>53</td>
        <td> -</td>
        <td>20</td>
        <td>4</td>
        <td>77</td>
    </tr>
    <tr>
        <td>Non Teknis</td>
        <td>45</td>
        <td>3</td>
        <td>64</td>
        <td>5</td>
        <td>117</td>
    </tr>
    <tr>
        <td rowspan="2">3</td>
        <td rowspan="2">D3</td>
        <td>Teknis</td>
        <td> 6</td>
        <td>-</td>
        <td>3</td>
        <td>3</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Non Teknis</td>
        <td>8</td>
        <td>-</td>
        <td>22</td>
        <td>2</td>
        <td>32</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">JUMLAH</td>
        <td>Teknis</td>
        <td>97</td>
        <td>-</td>
        <td>25</td>
        <td>7</td>
        <td>129</td>
    </tr>
    <tr>
        <td>Non Teknis</td>
        <td>62</td>
        <td>3</td>
        <td>87</td>
        <td>7</td>
        <td>159</td>
    </tr>
</table>
Sumber: Kepegawaian BBWS Serayu Opak
<br/><br/>

<div>
    <img src="#springUrl("/images/staff/teknis_nonteknis.png")"/>
</div>

<br/> <br/><br/>
<h5>Pegawai Teknis</h5>

<table class="data" style="margin: 8px auto 8px auto;">
    <tr>
        <th colspan="8">PEGAWAI TEKNIS</th>
    </tr>
    <tr>
        <th>No</th>
        <th>Strata</th>
        <th>Kualifikasi</th>
        <th>PNS</th>
        <th>NPN</th>
        <th>PHL AP</th>
        <th>PHL Swa</th>
        <th>TOTAL</th>
    </tr>
    <tr>
        <td rowspan="2">1</td>
        <td rowspan="2">S2</td>
        <td>Sipil</td>
        <td>33</td>
        <td></td>
        <td>2</td>
        <td></td>
        <td>35</td>
    </tr>
    <tr>
        <td>Non Sipil</td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
    </tr>
    <tr>
        <td rowspan="2">2</td>
        <td rowspan="2">S1</td>
        <td>Sipil</td>
        <td>45</td>
        <td></td>
        <td>20</td>
        <td>4</td>
        <td>69</td>
    </tr>
    <tr>
        <td>Non Sipil</td>
        <td>8</td>
        <td></td>
        <td></td>
        <td></td>
        <td>8</td>
    </tr>
    <tr>
        <td rowspan="2">3</td>
        <td rowspan="2">D3</td>
        <td>Sipil</td>
        <td>4</td>
        <td></td>
        <td>3</td>
        <td>3</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Non Sipil</td>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td>2</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2">Jumlah</td>
        <td>Sipil</td>
        <td>82</td>
        <td></td>
        <td>25</td>
        <td>7</td>
        <td>114</td>
    </tr>
    <tr>
        <td>Non Sipil</td>
        <td>13</td>
        <td></td>
        <td></td>
        <td></td>
        <td>13</td>
    </tr>
</table>
<span>Sumber: Kepegawaian BBWS Serayu Opak</span>
<br/><br/>

<div>
    <img src="#springUrl("/images/staff/teknis.png")"/>
</div>
<br/><br/><br/>
<h5>Komposisi Pegawai Non Teknis</h5>
<table class="data" style="margin: 8px auto 8px auto;">
    <tr>
        <th>No</th>
        <th>Strata</th>
        <th>Klasifikasi</th>
        <th>PNS</th>
        <th>NPN</th>
        <th>PHL AP</th>
        <th>PHL Swa</th>
        <th>Total</th>
    </tr>
    <tr>
        <td rowspan=3>1</td>
        <td rowspan=3>S2</td>
        <td>Ekonomi</td>
        <td>7</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Hukum</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Sospol/Lainnya</td>
        <td>2</td>
        <td><br/></td>
        <td>1</td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td rowspan=3>2</td>
        <td rowspan=3>S1</td>
        <td>Ekonomi</td>
        <td>26</td>
        <td>2</td>
        <td>32</td>
        <td>1</td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Hukum</td>
        <td>3</td>
        <td><br/></td>
        <td>6</td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Sospol/Lainnya</td>
        <td>16</td>
        <td>1</td>
        <td>16</td>
        <td>2</td>
        <td><br/></td>
    </TR>
    <tr>
        <td rowspan=3 HEIGHT="64">3</td>
        <td rowspan=3>D3</td>
        <td>Ekonomi</td>
        <td>3</td>
        <td><br/></td>
        <td>3</td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Hukum</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Sospol/Lainnya</td>
        <td>5</td>
        <td><br/></td>
        <td>7</td>
        <td>5</td>
        <td><br/></td>
    </TR>
    <tr>
        <td colspan=2 rowspan="3">Jumlah</td>
        <td>Ekonomi</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Hukum</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
    <tr>
        <td>Sospol/Lainnya</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
</table>
<span>Sumber: Kepegawaian BBWS Serayu Opak</span>
<br/><br/>

<div>
    <img src="#springUrl("/images/staff/nonteknis.png")"/>
</div>
<br/><br/>
<h5>KOMPOSISI PEGAWAI YANG PENSIUN SAMPAI DENGAN TAHUN 2014</h5>
<table class="data" style="margin: 8px auto 8px auto;">
    <tr>
        <th colspan=7>PEGAWAI YANG PENSIUN TAHUN 2011- 2014</th>
    </TR>
    <tr>
        <th>NO</th>
        <th>STRATA</th>
        <th>2011</th>
        <th>2012</th>
        <th>2013</th>
        <th>2014</th>
        <th>TOTAL</th>
    </TR>
    <tr>
        <td>1</td>
        <td>TEKNIS</td>
        <td>6</td>
        <td>3</td>
        <td>1</td>
        <td>15</td>
        <td><br/></td>
    </TR>
    <tr>
        <td>2</td>
        <td>NON TEKNIS</td>
        <td>15</td>
        <td>11</td>
        <td>9</td>
        <td>11</td>
        <td><br/></td>
    </tr>
    <tr>
        <TD colspan=2 HEIGHT="21" VALIGN=MIDDLE>JUMLAH</td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
        <td><br/></td>
    </TR>
</table>

<span>Sumber: Kepegawaian BBWS Serayu Opak</span>
<br/><br/>

<div>
    <img src="#springUrl("/images/staff/pensiun.png")"/>
</div>

<br/>
<br/>
</div>
</div>
</body>
</html>
