#banner {
    display: block;
    position: fixed;
    top: 0px;
    left: 110px;
    width: 994px;
    height: 150px;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    text-align: center;
    z-index: 100;
    background: transparent;
    background-image: url(../images/banner-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
    color: #FFF;
    overflow:hidden;
}

#banner-top {
    text-align: left;
    margin: 2px 14px 2px 14px;
    padding: 2px 0px 1px 3px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
}

#btn_toggle_banner {
    cursor: pointer;
    float: right;
    display: inline;
}

#banner a, #banner a:visited, #banner a img, #banner a:visited img {
    font-family: "Trebuchet MS";
    font-size: 11px;
    border: none;
    text-decoration: none;
    color: #BBB;
}

#banner a:hover {
    color: #FFF;
}

#banner-content {
    height: 98px;
    max-height: 98px;
    width: 960px;
    margin: 2px auto 0px auto;
    padding-top: 6px;
    border-top: 1px solid #222;
}

#banner .small-pic {
    width: 70px;
    height: 60px;
    border: 2px solid #050d13;
    border-radius: 4px;
    margin-left: 4px;
    display: inline-block;
    float: left;
    background: #000;

}

#banner .small-pic:hover {
    background: #222;
}