@CHARSET "ISO-8859-1";
#sidebar {
    margin: -10px 0px 16px -30px;
    padding: 0px 0px 0px 0px;
    border: none;
    position: fixed;
    float: left;
    background: url("../images/sidebar-bg.png");
    background-repeat: no-repeat;
    height: 338px;
    width: 88px;
    top: 160px;
    z-index: 1000;
}

#sidebar ul {
    margin: 14px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style: none;
    border-radius: 4px;
}

#sidebar ul li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    display: block;
}

#sidebar ul li a {
    margin: 0px 0px 0px 10px;
    padding: 1px 0px 1px 0px;
    background: url("../images/sidebar-a-bg.png");
    width: 66px;
    min-height: 26px;
    opacity: 0.6;
    border: 1px solid #0a1a27;
    border-radius: 1px;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
/*background: url("../images/sidebar-a-bg-hover.png");*/
    background: #0f283b;
    border-top: 1px solid #14364f;
    border-left: 1px solid #14364f;
    border-right: 1px solid #14364f;
    border-bottom: 1px solid #14364f; /*border-right: 1px solid #111;*/
/*border-bottom: 1px solid #111;*/
    border-radius: 0px;
    opacity: 1;

}

#sidebar ul li a > img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: none;

}

#sidebar ul li a > span {
    color: #FFF;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 3px 0px;
    display: block;
}
