<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/sidebar/photo.png")'/>
        &nbsp;<span>Galleri</span>
    </title>
</head>
<body>
#springBind("galleryPictureForm")
<ul class='error'>
    #foreach($error in $status.errorMessages)
        <li>$error</li>
    #end
</ul>

<form action='#springUrl("/gallery/picture/edit/${galleryPictureForm.id}.html")' method="post" enctype="multipart/form-data">
    #parse ("includes/gallery-picture-form.vm")
</form>

</body>
</html>
