<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><title>Login</title></head>
<body>
Maaf, user account Anda belum diapprove oleh administrator.<br/>
Silakan hubungi administrator untuk penjelasan lebih lanjut.
</body>
</html>
