<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/22x22/apps/internet-group-chat.png")'/> &nbsp;
        <span>Pesan</span>
    </title>
    <link rel="stylesheet" href='#springUrl("/css/jquery.flexbox.css")'/>

    <script src='#springUrl("/script/stringtemplate.js")' type="text/javascript"></script>

    <script src='#springUrl("/script/jquery.clicknav.js")' type="text/javascript"></script>
    <script src='#springUrl("/script/jquery.flexbox.js")' type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#btnToListMessage").clickNav({
                url :'#springUrl("/message/list.html")'
            });

            $('#recipient').flexbox('#springUrl("/json/person/search.html")', {
                watermark: "Cari ...",
                allowInput: true,
                highlightMatches: true,
                showResults: true,
                width : 400,
                maxVisibleRows: 8,
                noResultsText :'Data tidak ditemukan.',
                onSelect : function() {
                    var id = $('input[name=recipient]').val();
                    var url = "#springUrl("/ajax/person/")" + id + ".html";
                    $ .get(url, function (data) {
                        var html = $(data);
                        $("#recipient_detail").append(html);
                    });
                },
                paging: {
                    pageSize: 8,
                }

            });

            $("#btn_remove_recipient").click(function() {
                $("#recipient_detail input[type=checkbox]").each(function() {
                    if ($(this).attr("checked") == true) {
                        var parent = $(this).parentsUntil("#recipient_detail");
                        $(parent).remove();
                    }
                });
                return false;
            });

            $("#btn_clear_recipient").click(function() {
                $("#recipient_detail").empty();
                return false;
            });
        });
    </script>
</head>
<body>
<div class='content-toolbar'>
    <button id='btnToListMessage'>
        Semua Pesan
    </button>
</div>

    #springBind("messageForm")
<ul class='error'>
    #foreach($error in $status.errorMessages)
        <li>$error</li>
    #end
</ul>

<form action='#springUrl("/message/new.html")' method='post'>
    <table>
        <tr>
            <td>Kepada &nbsp;</td>
            <td>
                <div id='recipient'></div>
                <div id='recipient_detail'>
                    #foreach($person in $recipients)
                        #parse("ajax/person.vm")
                    #end
                </div>
                <div>
                    <button id="btn_remove_recipient">Hapus</button>
                    <button id="btn_clear_recipient">Kosongkan</button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Pesan &nbsp;</td>
            <td>
                <textarea name='content' style="width: 500px; height: 150px;">$!{messageForm.content}</textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type='submit' name='submit' value='Kirim'/></td>
        </tr>
    </table>
</form>

</body>
</html>
