<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/sidebar/news.png")'/>
        &nbsp;
        <span>Berita</span>
    </title>
    <script src='#springUrl("/script/jquery.clicknav.js")' type="text/javascript"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("#back").clickNav({
                url :'#springUrl("/news/list.html")'
            });
        });
    </script>

</head>
<body>
<div class="content-toolbar">
    <button id='back'>
        <img src='#springUrl("/images/16/arrow_left.png")'/>&nbsp;
        Kembali
    </button>
</div>
    #springBind("newsForm")
<ul class='error'>
    #foreach($error in $status.errorMessages)
        <li>$error</li>
    #end
</ul>

<form action='#springUrl("/news/entry.html")' method="post" enctype="multipart/form-data">
    #parse ("includes/news-form.vm")
</form>

</body>
</html>
