<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16/script.png")'/>
        &nbsp;
        <span>Pengumuman</span>
    </title>
    <link href="css_pirobox/css.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="css_pirobox/demo5/style.css" class="piro_style" media="screen" title="white" rel="stylesheet"
          type="text/css"/>

    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".btn_to_list").click(function() {
                window.location = '#springUrl("/publication/browse.html")';
            });

            $().piroBox({
                my_speed: 400,
                bg_alpha: 0.1,
                slideShow : true,
                slideSpeed : 4,
                close_all : '.piro_close,.piro_overlay'
            });


        });
    </script>

</head>
<body>
<div class='content-toolbar'>
    <button class='btn_to_list'>
        Penelusuran
    </button>

    <div style="float: right;">
        #if ($previous)
            <a href='#springUrl("/publication/read/${previous.id}.html")'>
                <img src='#springUrl("/images/22x22/actions/go-previous.png")'/>
                <span>
                    sebelum
                </span>
            </a>
            &nbsp;
        #end

        #if ($next)
            <a href='#springUrl("/publication/read/${next.id}.html")'>
                <span>
                    berikut
                </span>
                <img src='#springUrl("/images/22x22/actions/go-next.png")'/>
            </a>
        #end
    </div>
</div>
<br/>

<table style="width: 99%;">
    <tr>
        <td>
            <span class='title'>$publication.title</span>
            <br/><br/>

            #set($lines = $textTool.toLines($publication.content))
            #foreach($line in $lines)
                <p class="article">
                    #if ($velocityCount == 1)
                        <a href='#springUrl("/publication/picture/${publication.id}.html")' class="pirobox_gall">
                            <img src='#springUrl("/publication/picture/${publication.id}.html?width=200")' class="article"/>
                        </a>
                        <span>
                            [$dateTool.format("d MMM yyyy", $publication.postDate)]
                        </span>
                        ,
                    #end
                    $textTool.toHtml($line)
                </p>
            #end
        </td>
    </tr>
    #if ($publication.attachmentFilename)
        <tr>
            <td style="border-left: 1px dotted #336699; padding-left: 8px;">
                <img src='#springUrl("/images/16/arrow_right.png")'/>&nbsp;&nbsp;
                <a href='#springUrl("/publication/attachment/${publication.id}.html")'>
                    <img src='#springUrl("/images/16/attach.png")'/>
                    lampiran
                </a>
            </td>
        </tr>
    #end
</table>

<div class='content-toolbar'>
    <button class='btn_to_list'>
        Penelusuran
    </button>

    <div style="float: right;">
        #if ($previous)
            <a href='#springUrl("/publication/read/${previous.id}.html")'>
                <img src='#springUrl("/images/22x22/actions/go-previous.png")'/>
                <span>
                    sebelum
                </span>
            </a>
            &nbsp;
        #end

        #if ($next)
            <a href='#springUrl("/publication/read/${next.id}.html")'>
                <span>
                    berikut
                </span>
                <img src='#springUrl("/images/22x22/actions/go-next.png")'/>
            </a>
        #end
    </div>
</div>
</body>
</html>
