<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <img src='#springUrl("/images/16/script.png")'/>
        &nbsp;
        <span>Pengumuman</span>
    </title>
    <script src='#springUrl("/script/jquery.clicknav.js")' type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("button.new").clickNav({
                url :'#springUrl("/publication/entry.html")'
            });

            $("button.edit").click(function() {
                var id = $(this).attr("value");
                var url = '#springUrl("/publication/edit/")' + id + ".html";
                window.location.href = url;
                return false;
            });

        });
    </script>
</head>
<body>
<div class="content-toolbar">
    <button class='new'>Baru</button> |
    #springBind("publicationSearchForm")
    <form action='#springUrl("/publication/list.html")' method="post" style="text-align: right; display: inline;">
        <span>Kata kunci:</span> #springFormInput("publicationSearchForm.keyword", "class='register'")
        <input type="hidden" name="page" value="1"/>
        <input type='submit' name='submit' value='Cari'/>
    </form>
</div>


<div style="margin:4px 0px 4px 0px;">
    <span class='result'>Tersedia $!{publicationCount} data.</span>
</div>

<form action='#springUrl("/publication/action.html")' method='post'>
    <table class="datalist" style="width: 98%;">
        <tr>
            <th>No.</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Judul</th>
            <th>Tgl Jam</th>
            <th></th>
        </tr>
        #foreach($publication in $publications)
            #set($row_num = $startRow + $velocityCount)
            <tr>
                <td style='width: 10px;'>$row_num.</td>
                <td style="width: 10px;">
                    <input type='checkbox' value='$publication.id' name='id'/>
                </td>
                <td>
                    #if($publication.published == true)
                        <img src='#springUrl("/images/16/accept.png")'/>
                    #else
                        <img src='#springUrl("/images/16/stop.png")'/>
                    #end
                </td>
                <td>
                   <img src='#springUrl("/publication/picture/${publication.id}.html")?width=60'/>
                </td>
                <td>
                    <a href='#springUrl("/publication/read/${publication.id}.html")' class='title'>
                        $!{publication.title}
                    </a>
                </td>
                <td>
                    $dateTimeTool.format($publication.postDate)
                </td>
                <td>
                    <button class='action edit' value="${publication.id}">ubah</button>
                </td>
            </tr>
        #end
        <tr>
            <td colspan="4">
                <button class="action" name='action' value='publish'>Publish</button>
                <button class='action' name='action' value='remove'>Hapus</button>
            </td>
        </tr>
    </table>

    #springFormHiddenInput("publicationSearchForm.keyword", "")
    #springFormHiddenInput("publicationSearchForm.page", "")
</form>

<br/>

<div class="content-toolbar">
    #set($url = "/publication/list.html")
    #set($param = "keyword=$publicationSearchForm.keyword")
    #paging($pages, $publicationSearchForm.page,  $url, "page", "$param")
</div>

</body>
</html>
