<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head><title>
    &nbsp;<img src='#springUrl("/images/22x22/actions/edit-redo.png")'/>
    <span>Password Recovery</span>
</title></head>
<body>
<br/>
User ID dan password sudah dikirimkan ke email yang Anda isikan pada saat registrasi.
<br/>
<br/>
Terima kasih 
</body>
</html>
