<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <span>Registrasi</span>
    </title>
</head>
<body>
    #springBind("registrationForm")
<ul class='error'>
    #foreach($error in $status.errorMessages)
        <li>$error</li>
    #end
</ul>

<form action='#springUrl("/registration/entry.html")' method="post" enctype="multipart/form-data">
    #parse ("includes/registration-form.vm")
</form>

</body>
</html>
