<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        <span>Registrasi</span>
    </title>
</head>
<body>
<p>Terima kasih telah melakukan konfirmasi.</p>
<p>Permohonan registrasi anda akan diapprove oleh administrator.</p>
</body>
</html>
