<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>
        Link
    </title>
</head>
<body>
    #foreach($site in $siteList)
        <a href='${site.url}'>
            <img src='#springUrl("/site/picture/${site.id}.html")' alt='${site.name}' title="${site.name}" longdesc="${site.name}"/>
        </a>
    #end
</body>
</html>
