#springFormHiddenInput("staffForm.id", "style='width: 300px;'")
<table>
    <tr>
        <td rowspan='6' style='width: 110px;'>
            <a href='#springUrl("/staff/foto/$!{staffForm.id}.html")' class='pirobox' title='$staff.name'>
                <img src='#springUrl("/staff/foto/$!{staffForm.id}.html?width=80")' class='foto'/>
            </a>
        </td>
        <td>Nama</td>
        <td>#springFormInput("staffForm.name", "style='width: 300px;'")</td>
    </tr>
    <tr>
        <td>N I P</td>
        <td>#springFormInput("staffForm.nip", "style='width:250px;'")</td>
    </tr>
    <tr>
        <td>Golongan</td>
        <td>#springFormInput("staffForm.golongan", "style='width:100px;'")</td>
    </tr>
    <tr>
        <td>Jabatan</td>
        <td>#springFormInput("staffForm.jabatan", "style='width: 320px;'")</td>
    </tr>
    <tr>
        <td>Foto</td>
        <td><input type="file" name="foto"/></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type='submit' name='submit' value='Simpan'/>
        </td>
    </tr>
</table>